*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

section{
    width: 100%;
    height: 75vh;
    display: flex;
    gap: 10px;
}

.left{
    border: 1px solid black;
    height: 100%;
    width: 25%;
} 

.middle{
    border: 1px solid red;
    width: 50%;
    height: 100%;
}

.right{
    border: 1px solid orange;
    width: 25%;
    height: 100%;
}

.right div.right-1{
    border: 1px solid purple;
    height: 45%;
    margin: 10px;
}

.right div.right-2{
    border: 1px solid orangered;
    height: 45%;
    margin: 10px;
}